.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: white;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-box {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.navbar button {
    border: none;
    padding: 5px;
    margin-left: 10px;
}

/*bus-route-info*/
.bus-route-info {
    display: flex;
    flex-direction: column;
}

.bus-route-info div {
    display: flex;
    border: 1px solid lightgreen;
    width: 100%;
    text-align: center;
    gap: 10px;
}


/*station-list*/
.station-list {
    color: white;
    background-color: #222;
    width: 100%;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.station-card {
    margin-bottom: 2rem;
    text-align: center;
}

/*bus arrive list*/

.bus-arrive {
    margin-top: 20px;
}

.bus-arrivals-carousel {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    gap: 10px;
}

.arrival-card {
    min-width: 250px;
    /* 카드의 최소 너비 설정 */
    flex: 0 0 auto;
    /* 카드가 가로로 나열되도록 설정 */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.arrival-card:hover {
    transform: translateY(-5px);
    /* 카드가 위로 이동하도록 설정 */
    box-shadow: 0 8px 16px #71ace8;
    /* 그림자 강조 */
}

.arrival-card .card-body {
    transition: background-color 0.3s ease-in-out;
}

.arrival-card .card-body:hover {
    background-color: #f8f9fa;
    /* 배경색 변경 */
}

.no-arrivals {
    text-align: center;
    padding: 20px;
}